body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

.traffic_light_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.traffic_light_container {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  border: 2px solid black;
  width: 110px;
  padding: 10px;
  justify-content: space-between;
  position: relative;  
  background-color: rgb(181, 171, 171);
}

.traffic-light {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    margin: 5px;
    position: relative;
  
  }

  .traffic-light::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    /* width: 130px; */
    left: -15px;
    width: calc(100% + 30px);
    /* width: 100%; */
    height: 2px;
    background: black;
  }



  .traffic-light:last-child::after {
    display: none;
    position: absolute;
  }

  a {
    margin-top: 20px;
    color: blue;
    font-size: 20px;
    text-decoration: none;
  }

  a:hover {
    border: 3px solid yellow;
    background-color: red;
    color: black;
  }
 
 

