body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.styled-form {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 4px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    color: rgb(30, 13, 13);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: aquamarine;
}

.styled-form input {
    width: 150px;
    height: 30px;
    font-size: 20px;
    border: 2px solid rgb(41, 29, 29);
    padding: 5px;
}

.styled-form button {
    height: 50px;
    /* width: 400px; */
    /* border: 1px solid red; */
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
}

.styled-form button:hover {
    background-color: red;
}

p {
    margin: 10px auto;
    width: 200px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

a {
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 120, 88);
    font-size: 35px;
}